<h1>Movies</h1>
  <%= link_to "Create", new_movie_path %>
<ul>
    <% @movies.each_with_index do |movie, index| %>
        <li>
            <%= movie.title %> - <%= movie.rating %> <%= link_to "show", movie_path(movie.id) %>
        </li>
    <% end %>
</ul>